@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
  font-family: "gow";
  src: url('../fontes/GODOFWAR.TTF');
}
@font-face {
  font-family: "medieval";
  src: url('../fontes/CloisterBlack.ttf');
}

@font-face {
  font-family: "planet";
  src: url(../fontes/Planets.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: wheat;
  font-family: "Bungee Spice", sans-serif;
}

#container {
  margin: 0 auto;
  /* centralizar o container */
  width: 80%;
}

header {
  height: 100px;
  background-color: #ff0000;
  border-radius: 20px;
  padding: 2%;
  text-align: center;
  font-family: "medieval";
  font-weight: 400;
}

main{
  width: 77%;
  background-color: white;
  padding: 1%;
  float: right;
  font-family: "gow";
}

header,
footer {
  width: 96%;
}

header,
nav#lateral,
footer {
  float: left;
}

footer {
  padding: 2%;
  height: 400px;
  background-color: rgb(139, 0, 0);
  margin-top: 1%;
  font-family: "planet";
  font-size: 50pt;
}

/* nav topo inicio */

nav#topo {
  width: 100%;
  float: left;
  margin-bottom: 1%;
}

nav#topo ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  text-align: center;
}

nav#topo li {
  float: left;
}

nav#topo li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Tagesschrift", system-ui; 
}

nav#topo li a:hover {
  background-color: black;
}

nav#topo .active {
  background-color: steelblue;
}

nav#topo li {
  border-right: 1px solid dimgray;
}

nav#topo li:last-child {
  border-right: none;
}

/* nav topo fim */

/*formatação tabela*/

#produtos td, #produtos th{
  border: 1px solid black;
  padding: 5px;
}

#produtos{
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
}

#produtos tr:nth-child(even){
  background-color: #ddd;
}

#produtos tr:hover{
  background-color: #ccc;
}

#produtos th{
  background-color: #04aa6d;
  color: white;
  padding: 12px 0;
}

/*fim formatação tabela*/